<div id="wrapper" class="clearfix">

	<!-- Header
	============================================= -->
	<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

		<div id="header-wrap col-lg-12 navbar-fixed-top" style="background-color: #08262c; opacity: 0.7;">

			<div class="container">

				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

				<!-- Logo
				============================================= -->
				<div id="logo">

				</div><!-- #logo end -->

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="with-arrows clearfix not-dark navbar-fixed-top">

					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
						<li><a href="#" data-href="#wrapper"><div>Inicio</div></a></li>
						<li><a href="#" data-href="#section-nextgen"><div>Plataforma</div></a>
						</li>
						<li><a href="#" data-href="#submits"><div>News Letter</div></a></li>
					</ul>

					<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
						<li><a href="#" data-href="#section-faqs"><div>Servicio</div></a></li>
						<li><a href="#" data-href="#section-gallery"><div>Galería</div></a></li>
						  <% if user_signed_in? %>
								<li><%= link_to destroy_user_session_path, method: :delete do %><div>Log Out</div></li>
									<% end %>
								<% else %>
								<li><a href=" <%= new_user_session_path %> "><div>Log In</div></a></li>
							<% end %>
					</ul>

				</nav><!-- #primary-menu end -->

			</div>

		</div>

	</header><!-- #header end -->

	<section id="slider" class="slider-element full-screen slider-parallax">
		<div class="slider-parallax-inner" style=" center center no-repeat; background-size: cover;">
			<%= image_tag('fondo4b.jpg') %>
			<div class="vertical-middle" style="z-index: 2;">
				<div class="container dark clearfix">
					<div class="row clearfix">
						<div class="col-lg-6 col-md-8" style="background-color: #08262c; opacity: 0.7;">
							<div class="emphasis-title">
							<h1 class="font-body">Automatiza tus Especificaciones Técnicas de Arquitectura</h1>
							</div>
							<a href="#" data-scrollto="#submits" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large button-white button-light capitalize" style="border-radius: 23px;">Recibe Noticias</a>
						</div>
						<div class="col-lg-5 col-md-4  col-sm-4 float">
							<%= image_tag('logo/logo2.png', alt:'SpecAtelier', style: "opacity: 0.95;") %>
						</div>
					</div>
				</div>
			</div>
			<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
				<div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
			</div>
		</div>
	</section>

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="heading-block title-center nobottomborder">
				<h1>¡Proximos al lanzamiento!</h1>
				<span>Déjanos tus datos y mantente informado</span>
			</div>

			<div class="clear"></div>

			<div class="progress topmargin divcenter" style="height: 10px; max-width:600px;">
				<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
					<span class="sr-only">80% Complete</span>
				</div>
			</div>
		</div>
	</div>

		<!-- Content
	============================================= -->
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<div id="section-nextgen" class="page-section bottommargin-lg">
					<div class="row clearfix">

						<div class="col-lg-7 center">
							<div data-animate="fadeInLeft">
								<%= image_tag('11b.jpg') %>
								</div>
						</div>

						<div class="col-lg-5">
							<div class="topmargin-lg d-none d-lg-block"></div>
							<img src="demos/app-landing/images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<span class="before-heading">Facil y rápido</span>
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Autmatiza</h2>
							</div>
							<p style="color: #777;" class="lead">Construye tu especificación con documentación e información técnica de las principales soluciones constructivas y productos.</p>
						</div>

					</div>
				</div>

				<div class="line"></div><div class="clear"></div>

				<div id="section-stunning-graphics" class="page-section topmargin bottommargin-lg">
					<div class="row clearfix">

						<div class="col-lg-5">
							<div class="topmargin-lg d-none d-lg-block"></div>
							<img src="demos/app-landing/images/section/section-2-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<span class="before-heading">Edita tus eett</span>
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Gestiona</h2>
							</div>
							<p style="color: #777;" class="lead">Revisa, agrega, elimina y modifica. Mantén tu especificación técnica actualizada en un solo lugar de rápida forma ordenada</p>
						</div>

						<div class="col-lg-7 center">
							<div data-animate="fadeInRight">
								<%= image_tag('12b.jpg') %>
							</div>
						</div>

					</div>
				</div>

				<div class="line"></div><div class="clear"></div>

				<div id="section-nextgen" class="page-section bottommargin-lg">
					<div class="row clearfix">

						<div class="col-lg-7 center">
							<div data-animate="fadeInLeft">
								<%= image_tag('13b.jpg') %>
								</div>
						</div>

						<div class="col-lg-5">
							<div class="topmargin-lg d-none d-lg-block"></div>
							<img src="demos/app-landing/images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm">
							<div class="emphasis-title bottommargin-sm">
								<span class="before-heading">Valoriza tu proyecto</span>
								<h2 style="font-size: 42px;" class="font-body ls1 t400">Cotiza</h2>
							</div>
							<p style="color: #777;" class="lead">Cotiza los productos utilizados en tu especificación con los principales proveedores y valoriza tu proyecto.</p>
						</div>

					</div>
				</div>

			</div>

			<div class="clear bottommargin"></div>

			<div class="container clearfix">

				<div class="clear"></div>

				<!-- Postcontent
				============================================= -->
			<div id="submits">
				<div class="nobottommargin">
					<h3>News Letter</h3>
            <%= render 'form', register: @register %>
				</div><!-- .postcontent end -->
			</div>

			<div class="clear"></div>

				<div id="section-faqs" class="page-section nopadding nomargin">
					<h2 class="center font-body bottommargin-lg">¿En qué consiste?</h2>
					<div class="row topmargin-sm clearfix">

						<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">¿Por qué debería usar Spec Atelier?</h4>
							<p>Las especificaciones técnicas son un documento de gran responsabilidad, agrupando normativas, procedimientos y soluciones constructivas, las cuales en promedio son mas de 200 por proyecto de mas de 50 proveedores.</p>
						</div>
						<div class="col-lg-5 col-md-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">¿Qué hacemos?</h4>
							<p>Spec Atelier es una plataforma de desarrollo de especificaciones técnicas de arquitectura, que automatiza el proceso, entregando información técnica y comercial necesaria para pasar a obra. </p>
						</div>
						<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">¿Cómo lo hacemos?</h4>
							<p>Desarrollamos un algoritmo que nos permite, de forma intuitiva y según la particularidad de cada proyecto, poner a disposición de los arquitectos la expertise e información técnica de los proveedores de soluciones para la construcción asociados a Spec Atelier. Compilando en tiempo real las especificaciones técnicas de arquitectura.</p>
						</div>
						<div class="col-lg-5 col-md-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">¿Que tipo de información técnica puedo encontrar?</h4>
							<p>Buscamos agrupar la mayor cantidad de información que un proveedor pueda entregar para el correcto desarrollo de las EETT. Planos, BIM, fichas y cotizaciones.</p>
						</div>
						<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">¿Cuanto cobramos por el servicio?</h4>
							<p>Nos encontramos en la cuenta regresiva previo al lanzamiento oficial. Luego de eso vendrá un periodo de marcha blanca con proveedores y usuarios estratégicos.</p>
						</div>
						<div class="col-lg-5 col-md-6">
							<h4 class="font-body" style="margin-bottom:15px;">¿En que etapa está la plataforma?</h4>
							<p class="nobottommargin">Reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor.</p>
						</div>
						<div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
							<h4 class="font-body" style="margin-bottom:15px;">¿Como puedo ser usuario o proveedor estrategico y participar de la marcha blanca?</h4>
							<p class="nobottommargin">Dejanos tu correo en el formulario y te contactaremos para conversar en detalle sobre los pasos que se vienen y los plazos.</p>
						</div>
						<div class="col-lg-5 col-md-6">
							<h4 class="font-body" style="margin-bottom:15px;">Experiencia</h4>
							<p class="nobottommargin">Como equipo, nos dedicamos al desarrollo de especificaciones técnicas desde hace más de 25 años en distintos países de Latinoamérica, y desde hace  20 años en chile. Sistematizando nuestro know how en Spec Atelier.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div id="section-gallery" class="page-section nopadding nomargin">

				<div class="container topmargin bottommargin-lg center clearfix">

					<h3 class="ls1 t400" style="font-size: 32px; margin-bottom: 10px;">Imagenes de desarrollo</h3>
					<p class="lead divcenter" style="max-width: 600px">Actualmente nos encontramos trabajando en la nueva interfaz. ¡Mantente al tanto!</p>
				</div>

				<div class="owl-carousel owl-carousel-full image-carousel carousel-widget bottommargin" data-margin="20" data-center="true" data-loop="true" data-nav="false" data-pagi="true" data-items-xs="2" data-items-sm="2" data-items-md="4" data-items-lg="4" data-items-xl="6" data-stage-padding="30" data-lightbox="gallery">

					<div data-lightbox="gallery-item" class="oc-item">
								<%= image_tag('prototype/Landing2.png') %>
					</div>
					<div data-lightbox="gallery-item" class="oc-item">
								<%= image_tag('prototype/Proyectos.png') %>
					</div>
					<div data-lightbox="gallery-item" class="oc-item">
								<%= image_tag('prototype/Proyecto nuevo.png') %>
					</div>
					<div data-lightbox="gallery-item" class="oc-item">
								<%= image_tag('prototype/Perfil Empresa.png') %>
					</div>
					<div data-lightbox="gallery-item" class="oc-item">
								<%= image_tag('prototype/Especificación.png') %>
					</div>
					<div data-lightbox="gallery-item" class="oc-item">
								<%= image_tag('logo/logocolor.png') %>
					</div>
					</div>
				</div>
			</div>

			<div class="clear"></div>

		</div>

	</section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="/assets/jquery.js"></script>
<script src="/assets/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/assets/functions.js"></script>
