<div class="contact-widget">

  <div class=""></div>

  <form class="nobottommargin">

    <div class="form-process"></div>
      <%= form_with(model: submit, local: true) do |form| %>
        <% if submit.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(submit.errors.count, "error") %> prohibited this submit from being saved:</h2>

            <ul>
            <% submit.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label "Nombre" %>
            <div class="">
              <%= form.text_field :name %>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="field">
            <%= form.label :email %>
            <div class="">
              <%= form.text_field :email %>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="field">
            <%= form.label "Empresa / Oficina" %>
            <div class="">
              <%= form.text_field :office %>
            </div>
          </div>
        </div>
      </div>

        <div class="clear"></div>

        <div class="col_full">
          <div class="field">
            <%= form.label "Comentarios" %>
            <div class="">
              <%= form.text_field :comment %>
            </div>
          </div>
        </div>

    <div class="">
        <div class="actions">
          <%= form.submit "Enviar" %>
        </div>
    </div>
      <% end %>
  </div>
