<p id="notice"><%= notice %></p>

<h1>Submits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Office</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submits.each do |submit| %>
      <tr>
        <td><%= submit.name %></td>
        <td><%= submit.email %></td>
        <td><%= submit.office %></td>
        <td><%= submit.comment %></td>
        <td><%= link_to 'Show', submit %></td>
        <td><%= link_to 'Edit', edit_submit_path(submit) %></td>
        <td><%= link_to 'Destroy', submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submit', new_submit_path %>
