<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @submit.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submit.email %>
</p>

<p>
  <strong>Office:</strong>
  <%= @submit.office %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @submit.comment %>
</p>

<%= link_to 'Edit', edit_submit_path(@submit) %> |
<%= link_to 'Back', submits_path %>
